h5{
    padding: 1rem;
}

header {
    height: 100vh; /* Adjust height as needed */
    padding-top: 2rem;
    position: relative;
    padding-bottom: 5rem;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.blob-container {
    position: relative;
    width: 30rem; 
    height: 30rem; 
    margin: 0 auto;
    align-items: center;
    top: 10%;
}

.tk-blob {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* --------------------------   ME  ------------------ */
.me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem; /* Adjust width as needed */
    height: 20rem; /* Adjust height as needed */
    z-index: 1;
}

.me img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: transparent; /* Ensure it matches the container's border radius */
}


/* -------------------------------MEDIA QUERIES (MEDIUM DEVICES)-------------------------- */
@media screen and (max-width: 1024px) {
    header {
        height: 81vh;
    }

    .blob-container {
        width: 15rem;
        height: 15rem;
    }

    .me {
        width: 7.5rem;
        height: 7.5rem;
    }
}

/* -------------------------------MEDIA QUERIES (SMALL DEVICES)-------------------------- */
@media screen and (max-width: 600px) {
    header {
        height: 106vh;
    }

    .header_socials, .scroll_down {
        display: none;
    }

    .blob-container {
        width: 20rem;
        height: 20rem;
    }

    .me {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18rem; /* Adjust width as needed */
        height: 18rem; /* Adjust height as needed */
        z-index: 1;
    }
    
    .me img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: transparent; /* Ensure it matches the container's border radius */
    }
}
